/* Accordion +/- style  */
/* .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  } */

  .discountcard-hero {
    background: url("/assets/images/myimage/money-256315_1920.jpg"), rgba(1, 170, 142, 0.986);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-blend-mode: multiply;
}

  .unlock-deal {
      background-color: #855399;
      border-radius: 10px;
  }
  .hrlineyellow {
      border:none;
      border-bottom: 3.5px solid rgb(216, 162, 12);
      width: 10%;

  }
  .cardinput {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    width: 75%;
    background: #fff;
    border:none;
    border-radius:5px;
    -webkit-border-radius: 5px;
    text-align: left;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-left: 20px;
    padding-right: 10px;
    outline: 0;
  }
  #s-btn {
      background-color: #3e136c;
      color: #fff;
  }
  .dealtext {
      padding-left: 40px;
  }
  .dealbox {
      position: relative;
  }
  .dealbox .dealimage {
      position: absolute;
      top: -60px;
      bottom: 15px;
  }